
/* reset */
body,a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: cornflowerblue;
    overflow-x: hidden;
}

nav {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: -40px;
    z-index: -50;
    padding: 30px;
    font-family: 'Lobster';
    font-size: xx-large;
    text-align: center;
}
h1 {
    margin-bottom: 5px;
}

footer {
    background: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 30px;
}

.welcome {
    background: #ffffff;
    text-align: center;
    font-family: 'Poppins';
}

h2 {
    font-weight: 500;
}

.flex-container {
    display: flex;
    font-family: 'Poppins';
    justify-content: center;
}

.blogframe {
    max-width: 400px;
    background: #ffffff;
    border: 1px solid;
    box-shadow: 2px 4px;
    padding: 25px;
}

h3 {
    text-align: center;
}

/* fonts */
@font-face {
    font-family: 'Lobster';
    src: url('fonts/Lobster-Regular.ttf');
}
@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf');
}

/* small tablet size style */
@media screen and (min-width: 650px) {
    .blogframe {
        padding: 10px;
    }
}

/* large tablet size style */
@media screen and (min-width: 1100px) {
    .flex-container {
        flex-direction: row;
        align-items: center;
    }
}

/* desktop size style */
@media screen and (min-width: 1200px) {
    
}